-
  let cards = [
    {
      title: '24/7 Mobile Callout',
      icon: 'hammer'
    },
    {
      title: 'Mobile Tyre Fitting',
      icon: 'automobile'
    },
    {
      title: 'Mobile Tyre Repair',
      icon: 'truck'
    },
    {
      title: 'Mobile Tyre replacement',
      icon: 'wrench'
    }
  ]

#about
.about
  .about_text
    h1 Our services
    .line_wrapper
      hr
    p We offer 24 hours, 7 days a week, 365 days a year support for tyre fitting emergencies at your home/work or other locations. After a check to see if the tyre is repairable and it's safe to do so, our experienced team will fit it according to the industry standards. If the tyre fails the inspection, we can fit a new one on our own and get you back on the road.
  .cards
    each card in cards
      .card
        p(class=`icon_${card.icon}`)
        .card_title=card.title
