#updates
.updates
  h1 Updates
  .line_wrapper
    hr
  .updates_post
    blockquote
      div Good morning all,
      div In the light of the new announcement made by the government regarding the new lockdown, we wish to inform all of our customers that we will STAY OPEN and follow our normal opening times:
      div Monday - Saturday- 8:00am to 18:00pm.
  .updates_photo 
    img(src=`${baseUrl}asset/image/wheel.png`)
