#updates
.updates
  .updates_text
    h1 Updates
    .line_wrapper
      hr
    .updates_post
      blockquote
        div Hi all,
        div In the light of the new announcement made by the government regarding the new lockdown, we wish to inform all of our customers that we will REMAIN OPEN and follow our normal opening times:
        div NON-STOP
  .updates_photo 
    img(src=`${baseUrl}asset/image/wheel.png`)
