.header {
  position: relative;
  margin-top: 5.6rem;

  img {
    width: 100%;
    height: auto;
    padding-top: 5px;
  }

  &_content {
    position: absolute;
    right: 5px;
    top: 50px;
    padding: 15px;
    color: $color-link-water;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}