$icomoon-font-family: "em" !default;
$icomoon-font-path: "asset/font" !default;

$icon_automobile: "\e901";
$icon_home: "\e900";
$icon_pencil: "\e906";
$icon_quill: "\e907";
$icon_phone: "\e942";
$icon_address-book: "\e944";
$icon_pushpin: "\e946";
$icon_wrench: "\e991";
$icon_cogs: "\e995";
$icon_hammer: "\e996";
$icon_magic-wand: "\e997";
$icon_leaf: "\e9a4";
$icon_truck: "\e9b0";
$icon_menu: "\e9bf";
$icon_cancel-circle: "\ea0d";
$icon_cross: "\ea0f";
$icon_facebook: "\ea91";
$icon_whatsapp: "\ea93";
$icon_twitter: "\ea96";
$icon_youtube: "\ea9e";
$icon_linkedin: "\eac9";

