extends _component/layout/layout
block basic-config
  -
    let myTitleForGoogleSearch = "P1 tyres";
    let myDescriptionForGoogleSearch = "P1 tyres - 24/7 mobile tyre fitting and repair. Emergency support for tyre fitting and replacement at your home/work or any other location such as Luton and surrounding areas: Hertfordshire, Bedfordshire and Buckinghamshire and Middlesex.";
block content
    include _component/nav/nav
    include _component/header/header
    include _component/about/about
    include _component/updates/updates
    include _component/area/area
    include _component/gallery/gallery
    include _component/contact/contact
    include _component/footer/footer