#area
.area
  h1 Area we cover
  .line_wrapper
    hr
  .area_content
    .area_content-text 
      div We have a unique mobile tyre-fitting and replacement service. Our 24-hour emergency mobile tyre-fitting service covers all Luton and surrounding areas, especially <strong>Hertfordshire</strong>, <strong>Bedfordshire</strong>, <strong>Buckinghamshire</strong> and <strong>Middlesex</strong> with express service. 
      div We cover all major roads and motorways such as the M1, M2, M3, M4, M11, M20, M25, A1(M) A12, A13, A406 and some of London’s major airports such as London City, London Heathrow, London Luton, and Stansted.
    .area_img-wheel
      img(src=`../../asset/image/change.jpg`)
  .area_content-map
    img.area_img-map(src=`../../asset/image/colored.jpg`)