#area
.area
  .area_text
    h1 Area we cover
    .line_wrapper
      hr
    .area_content
      .area_content-text
        div Our 24-hour emergency mobile tyre-fitting and replacement service covers all Luton and surrounding areas, especially <strong>Hertfordshire</strong>, <strong>Bedfordshire</strong>, <strong>Buckinghamshire</strong> and <strong>Middlesex</strong>.
      .area_img-wheel
        img(src=`${baseUrl}asset/image/change.jpg`)
  .area_content-map
    img.area_img-map(src=`${baseUrl}asset/image/colored.jpg`)