#contact
.contact
  .contact_title
    h1 Contact us
    .line_wrapper
      hr
  .contact_inner
    img(src=`${baseUrl}asset/image/mechanic.jpg`)
    .contact_inner-text
      h2 Get in touch
      div As we mentioned, our unique mobile tyre-fitting and replacement service covers all Luton and surrounding areas, especially <strong>Hertfordshire</strong>, <strong>Bedfordshire</strong>, <strong>Buckinghamshire</strong> and <strong>Middlesex</strong> with express service. In case we can help you, don't hesitate to contact us.
      .icon_phone  Call us: 
        a(href="tel:+447522868930", target="_blank") +447522868930
      .icon_whatsapp  Whatsapp: 
        a(href="https://api.whatsapp.com/send?phone=447522868930&fbclid=IwAR2fCd5TBmw02mHfd9c4QZ2IsUV3N4tPGXxmiMaVGEoiTUH8Kk9YGooGivo", target="_blank") +447522868930
      .icon_pencil  Email us: 
        a(href="mailto:emilian@p1tyres.co.uk") emilian@p1tyres.co.uk 
        | or 
        a(href="mailto:adrian@p1tyres.co.uk") adrian@p1tyres.co.uk 
        |  all the necessary information as <strong>size of the deflated tyre, your vehicle location, contact number and make and model of vehicle</strong>.
    