.contact {
  text-align: center;
  margin-top: 15px;
  line-height: 1.6;

  div {
    margin-top: 15px;
  }
  
  &_inner {
    background-color: #f3f4f4;
    color: #303b45;
    margin: 10px 30px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    
    img {
      width: 100%;
      height: auto;
    }
  }
  
  &_inner-text {
    padding: 5px 10px 10px;
    a {
      text-decoration: none;
    }
  }
}